<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Auction System</title>
        <!-- Bootstrap CSS -->
        <link
            rel="stylesheet"
            <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
            crossorigin="anonymous"
        />
    </head>
    <body>
        <div class="container mt-4">
            <h1 class="h1">Auction System</h1>

            <form id="createAuctionForm" class="mb-4">
                <h4 class="h4">Create Auction</h4>
                <div class="form-group">
                    <label for="item_name">Item Name</label>
                    <input
                        type="text"
                        class="form-control"
                        id="item_name"
                        name="item_name"
                        required
                    />
                </div>
                <div class="form-group mt-2">
                    <label for="initial_price">Initial Price</label>
                    <input
                        type="number"
                        class="form-control"
                        id="initial_price"
                        name="initial_price"
                        required
                    />
                </div>
                <button type="submit" class="btn btn-primary mt-2">
                    Create
                </button>
            </form>

            <div id="auctionInfoContainer">
                <h4 class="h4">Auction Information</h4>
                <div id="auctionInfo" class="list-group"></div>
            </div>
        </div>
        <!-- Modal -->
        <div
            class="modal fade"
            id="exampleModal"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
        >
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">
                            Place A bid on Item
                        </h1>
                        <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                        ></button>
                    </div>
                    <div class="modal-body">
                        <form id="bid_form">
                            <label for="initial_price">Auction Id</label>
                            <input
                                type="number"
                                class="form-control mt-2"
                                id="bid_id"
                                name="Item Id"
                                required
                            />
                            <label for="initial_price">New Bid</label>
                            <input
                                type="number"
                                class="form-control mt-2"
                                id="new_bid"
                                name="New bid"
                                required
                            />
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button
                            type="button"
                            class="btn btn-secondary"
                            data-bs-dismiss="modal"
                        >
                            Close
                        </button>
                        <button type="button" class="btn btn-primary">
                            Place Bid
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bootstrap JS -->
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            crossorigin="anonymous"
        ></script>
        <script>
            // Submit create auction form
            document
                .getElementById("createAuctionForm")
                .addEventListener("submit", function (e) {
                    e.preventDefault();
                    var item_name = document.getElementById("item_name").value;
                    var initial_price =
                        document.getElementById("initial_price").value;
                    const newAuction = {
                        item_name: item_name,
                        initial_price: parseFloat(initial_price),
                    };
                    // Send fetch request to create auction
                    fetch(
                        `http://localhost:8000/auction?item_name=${item_name}&initial_price=${initial_price}`,
                        {
                            method: "POST",
                            headers: {
                                "Content-Type": "application/json",
                            },
                        },
                    )
                        .then((response) => response.json())
                        .then((data) => {
                            console.log(data);
                            var auction_id = data.auction_id;
                            alert(
                                "Auction created successfully! Auction ID: " +
                                    auction_id,
                            );
                        })
                        .catch((error) => {
                            alert("Error creating auction: " + error);
                        });
                });

            // Get auction information
            function getAuctionInfo() {
                const auctionlist = document.getElementById("auctionInfo");
                fetch("http://localhost:8000/auctions?skip=0&limit=10", {
                    method: "GET",
                    headers: {
                        "Content-Type": "application/json",
                    },
                })
                    .then((response) => response.json())
                    .then((data) => {
                        var { auctions } = data;
                        auctions.forEach((auction) => {
                            const li = document.createElement("li");
                            li.innerHTML = `
                            <div class='list-group-item'>
                                <div class="">
                                    <h3> Item Name: ${auction.item_name} </h3>
                                    <p><strong>Auction ID:</strong>  ${auction.id}</p>
                                </div>
                                <div class="row align-items-center">
                                    <p class="col-6">Current bid: ${auction.current_price} </p>
                                    <button type="button" class="btn btn-primary m-2 w-25 col-6" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                       Place bid
                                    </button>
                                </div>
                            </div>
                            `;
                            auctionlist.appendChild(li);
                        });
                    })
                    .catch((error) => {
                        alert("Error retrieving auction information: " + error);
                    });
            }
            getAuctionInfo(1);
        </script>
    </body>
</html>
